<!DOCTYPE html>
<html>
<head>
<meta charset= "utf-8">
<title>ABM Web - Detail of Task</title>
<style>
  body{
    font-family: "Optima";
  }
  h1{
    text-align: left;
  }
</style>
</head>

<%# Detail of task %>
<body>
<div class="jumbotron">
  <h1 class="display-4"><%= @task.task %></h1>
  <p class="lead">
    <strong>Status:</strong> <%= @task.status %> | <strong>Due:</strong><%= @task.due %>
  </p>
  <p class="lead">
    <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-secondary"%>
    <%= link_to 'Back', tasks_path, class: "btn btn-dark" %>
  </p>
</div>

<%# task name %>
<p> 
  <strong>Task:</strong>
  <%= @task.task %>
</p>

<%# working status %>
<p> 
  <strong>Status:</strong>
  <%= @task.status %> 
</p>

<%# due date %>
<p> 
  <strong>Due:</strong>
  <%= @task.due %>
</p>
</body>

</html>
