<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
<title>ABM Web - Show Diary</title>
<style>
header{
    text-align: center;
}

h1{
    font-size: 80px;
}

h3{
    color: #FFFFFF
}

.content-wrap{
    position: relative;
    text-align: justify;
    /* text-align-last: center; */
    margin: 20px auto;
    font-size: 20px;
}

footer{
    width: 85%;
    position: relative;
}

.buttons{
    display: flex;
    justify-content: right;
}

.button{
    display: inline-block;
    margin-top: auto;
    right: 0%; 
}

</style>
</head>

<%# Show  diary's title and date that the diary was written%>
<header>
    <h1><%= @diary.title%></h1>
    <h3><%= @diary.writing_date%></h3>
</header>

<%# Show content %>
<body>
    <p class="content-wrap">
        <%= @diary.content%>
    </p>
</body>

<%# buttons for Edit and Back %>
<footer> 
    <div class = "buttons">
            <div class = "button">
                <%= link_to edit_diary_path do%>
                    <button class = "btn btn-secondary">Edit</button>
                <% end %>
            </div>

            <div class = "button">
                <%= link_to diaries_path do%>
                    <button class = "btn btn-dark">Back</button>
                <% end %>
            </div>
    </div>
</footer>

</html>